@import url('https://fonts.cdnfonts.com/css/oak-sans');
/* default styling */
* {
  margin: none;
  padding: none;
  font-family: 'Oak Sans', sans-serif;
}
strong {
  font-weight: 600;
}
body {
  background-color: $lightest;
}

/* containers */
.mainApp {
  background-color: $lightest;
  padding: 20px;
}
.stretchCont {
  margin-bottom: 5px;
}
.appHeaderBox {
  margin-top: 0px;
}
.appHeaderSubBox1 {
  display: flex;
  justify-content: space-between;
}
.headerStatement {
  display: flex;
  font-size: 30px;
  font-weight: 600;
  color: $darker;
  margin-top: 0px;
  margin-bottom: 0px;
}
.headerInstructions {
  display: block;
}
.cardHeadBox {
  display: flex;
  align-items: baseline;
  margin-left: 20px;
}
.overlay {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding-top: 30%;
}
.overlayDiv {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $darker;
  padding: 25px;
  padding-bottom: 40px;
  border-radius: 10px;
  max-height: 50%;
  vertical-align: middle;
}
.loginDiv,
.signupDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.welcomeHead {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $lightest;
}

.stretchCard {
  background-color: $lighter;
  color: $darker;
  border-radius: 10px;
}
.cardHeader {
  margin-left: 5px;
  padding-top: 10px;
}
.favIcon {
  margin-left: 20px;
  margin-right: 10px;
}
ul {
  list-style-type: none;
  margin-right: 5px;
  padding-right: 40px;
  padding-left: 40px;
}
li {
  margin-bottom: 5px;
}
li:last-child {
  padding-bottom: 10px;
}

/* dropdown menu */
.muscle,
.difficulty {
  background-color: $light;
  color: $darker;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 10px;
}

/* buttons */
.logoutBtn {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-height: 40px;
}
.favBtn,
.loginBtn,
.signupBtn {
  background-color: $light;
  color: $darker;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 10px;
}
.loginBtn,
.signupBtn {
  width: 100%;
}

#overlay {
  transition: opacity 1s linear;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $dark;
  z-index: 2;
}
#usernameLogin,
#passwordLogin,
#usernameSignup,
#passwordSignup,
#passwordSignupConfirm {
  margin-bottom: 5px;
  display: flex;
  background-color: $lightest;
  height: 36px;
  border-radius: 8px;
  border: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* timer */
.timerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba($lighter, 0.5);
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.timeDisplay {
  margin-bottom: 10px;
  font-size: 25px;
}

.startBtn,
.pauseBtn,
.resumeBtn,
.restartBtn {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  border-width: 0px;
  // border-color: rgba($mid, 1);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-height: 40px;
}
.startBtn {
  background-color: $split;
}
.pauseBtn {
  background-color: #baaeeb;
  // color: rgb(230, 230, 230);
}
.startBtn,
.pauseBtn,
.resumeBtn {
  margin-right: 5px;
}
